<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<h1 class="mb-1 restaurant-show-title">新增餐廳清單</h1>

<form action="/restaurants/new" method="POST">
  <div class="row" style="background-color:lightgrey">
    <div class="mx-auto mt-5">
      <div class="form-group">
        <span>
          <label for="new_餐廳名稱" class="fas fa-utensils pr-2">餐廳名稱:</label>
          <input class="form-control" type="text" size="50PX" name="name">
        </span>
        <span>
          <label for="new_餐廳英文名稱" class="fas fa-utensils pr-2">餐廳英文名稱:</label>
          <input class="form-control" type="text" name="name_en">
        </span>
        <span>
          <label for="new_類別" class="fas fa-utensils pr-2">類別:</label>
          <input class="form-control" type="text" placeholder="" name="category">
        </span>

        <span>
          <label for="new_電話" class="fas fa-utensils pr-2">電話:</label>
          <input class="form-control" type="text" placeholder="XX XXXX XXXX" name="phone">
        </span>

        <span>
          <label for="new_評分" class="fas fa-utensils pr-2">評分:</label>
          <input class="form-control" type="text" placeholder="1.0~10.0" name="rating">
        </span>
      </div>

      <div class="form-group">
        <label for="new_地址" class="fas fa-utensils pr-2">地址:</label>
        <input type="text" class="form-control" placeholder="" name="location">
      </div>


      <div class="form-group">
        <label for="new_google地圖" class="fas fa-utensils pr-2">google地圖:</label>
        <input type="text" class="form-control" placeholder="https://goo.gl/maps/" name="google_map">
      </div>

      <div class="form-group">
        <label for="new_敘述" class="fas fa-utensils pr-2">簡介:</label>
        <textarea class="form-control" name="description" cols="20" rows="4"
          required>{{restaurant.description}}</textarea>
      </div>

      <div class="form-group">
        <span>
          <label for="new_圖片" class="fas fa-utensils pr-2">圖片:</label>
          <input class="form-control" placeholder="" name="image">
        </span>
      </div>

      <div class="form-group" align="center">
        <button type="submit" class="btn btn-success">新增</button>
        <a href="/" class="btn btn-danger" role="button">返回</a>
      </div>
    </div>
  </div>
</form>